.container {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: left; */
    /* align-items: flex-end; */
}

.imageHuman {
    width: 20%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/image/pngwing.com.png');
    background-origin: content-box;
    margin-top: 100px;
    flex: 1;
    background-size: auto;
    object-fit: cover;
}
.bubble {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.chart {
    width: 600px;
    position: absolute;
    bottom: 40px;
    left: -100px;
}

.imageItem {
}

.chat {
    width: 98%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/image/chat.jpg');
    background-origin: content-box;
    margin-top: 100px;
    flex: 1;
    background-size: auto;
    object-fit: cover;
}

.text {
    width: 98%;
    height: 60%;
    position: absolute;
    top: 30px;
    left: -100px;
    bottom: 200px;
    z-index: 2;
    /* width: 85%;
    height: 40%; */
    font-size: 16px;
    color: #000;
    line-height: 20px;
    font-weight: 500;
    text-align: justify;
    padding: 6px;
    background-origin: content-box;
    background-size: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.selectBox {
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
}

.dsstitle {
    height: 40px;
    font-size: 18px;
    color: #000;
    line-height: 40px;
    text-align: center;
}

.selectElement {
    height: 40px;
    color: #000;
}

.ConfirmBtn {
    margin-left: 30px;
    width: 100px;
    height: 40px;
    background-color: rgb(65, 163, 65);
    border: 1px solid #000;
    box-shadow: 2px 2px 4px #888;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}
.ConfirmBtn:hover {
    background-color: green;
    color: yellow;
}

.Section_title {
    margin: 20px;
    font-size: 24px;
    color: #000;
}

.columnRight {
    width: 65%;
    margin-top: 40px;
}

.boxMessage {
    display: flex;
    width: 90%;
    background-color: rgb(224, 252, 255);
    box-shadow: 2px 2px 6px #333;
    min-height: 200px;
    border-radius: 4px;
    vertical-align: middle;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.messageContent {
    flex-direction: column;
    font-size: 18px;
    color: #000;
    text-align: justify;
    margin: auto 0;
    line-height: 20px;
    white-space: pre-line;
}

.chartContainer {
    background-color: rgb(255, 240, 252);
    margin-top: 50px;
    padding: 20px;
    box-shadow: 2px 2px 6px #333;
    border-radius: 4px;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0;
    text-decoration: underline;
}

.todayWeather {
    width: 400px;
    height: 200px;
    background-color: rgb(186, 220, 253);
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    border: 1px solid blue;
}

.todayLocation {
    font-size: 30px;
    margin-bottom: 30px;
}

.todayTempt {
    font-size: 60px;
    margin: 10px;
}
