/* Css shop */
.shop_block {
    height: 60px;
    background-color: #f8f9fa;
    margin: 0px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.shop {
    padding: 10px 100px;
}

.shop_block_text {
    padding: 0 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.shop_block_text_sm {
    padding: 0 20px;
    font-size: 20px;
    font-style: italic;
    color: #444;
    font-weight: bold;
}

.shop_content {
    /* display: flex; */
}

/* ccs product */

.product_yt {
    width: 70px;
    height: 18px;
    font-size: 12px;
    background-color: green;
    color: #fff;
    border: 1px solid #008000;
    text-align: center;
    position: absolute;
    right: -4px;
    border-radius: 2px;
}

.link_product {
    text-decoration: none;
    width: 24%;
}

.product_box {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100%;
    box-sizing: border-box;
}

.product_start {
    display: flex;
    justify-content: space-around;
    padding: 4px 2px;
    height: 40px;
}

.product_location_icon {
    color: red;
    padding: 0 4px;
}

.product_location {
    font-size: 16px;
    color: #222;
    box-sizing: border-box;
    text-align: left;
}

.list-inline-start {
    font-size: 12px;
    color: yellow;
    margin: 4px;
}

.product_img {
    width: 100%;
    height: 200px;
    vertical-align: middle;
    border: none;
}

.product_img:hover {
    opacity: 0.6;
}

.product_name {
    width: 100%;
    min-height: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.product_price {
    width: 100%;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    color: #333;
    text-align: center;
}

.Add_btn {
    position: absolute;
    width: 100%;
    height: 36px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    background-color: #222;
    color: #fff;
    margin-top: 5px;
    bottom: 10px;
}

.Add_btn:hover {
    background-color: #444;
    cursor: pointer;
}

.product_row {
    width: 100%;
    display: flex;
}

.product_related_row {
    width: 100%;
    display: flex;
    justify-content: center;
}
.list_product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product_item {
    position: relative;
    width: 23%;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #343a40;
    margin: 10px 10px;
    border: 1px solid #ccc;
    transition: transform 0.2s;
}
.product_item:hover {
    transform: scale(1.03);
}

.soldOut {
    font-size: 24px;
    color: red;
    font-weight: 500;
    line-height: 24px;
    margin: 20px 0;
}

/* css category */
.product_category {
    width: 100%;
    margin: 50px 0;
    display: flex;
}

.product_category_list {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    justify-content: space-around;
}

.first_title {
    background-color: #343a40 !important;
    color: #fff !important;
}
.product_category_item {
    width: 100%;
    height: 200px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
    color: rgba(155, 22, 22, 0.894);
    background-color: #fff;
    border: 2px solid goldenrod;
    box-shadow: 5px 5px 10px gold;
    text-align: center;
    padding: 20px 0;
    margin: 0 10px;
}

.product_category_item_active {
    width: 100%;
    height: 200px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
    color: rgba(155, 22, 22, 0.894);
    background-color: rgb(250, 250, 192);
    border: 2px solid goldenrod;
    box-shadow: 5px 5px 10px gold;
    text-align: center;
    padding: 20px 0;
    margin: 0 10px;
}

.product_category_title {
    padding: 0 4px;
    cursor: pointer;
    font-size: 16px;
}

.product_category_img {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.product_category_detail {
    background-color: #fff !important;
    text-transform: none;
    font-weight: 300;
    padding: 0 20px;
}

/* phần này css trang detail */

.detail_wrapper {
    width: 100%;
    padding: 10px 80px;
}

.product_detail {
    display: flex;
    margin-top: 20px;
}

.product_detail_img {
    display: flex;
}

.product_detail_img_4 {
    display: block;
    width: 100px;
}

.img_sm {
    width: 80px;
    margin: 4px;
}

.product_detail_img_1 {
}

.img_lg {
    width: 450px;
}

.product_detail_content {
    padding-left: 20px;
}

.list-inline {
    display: flex;
}

.list-inline-item {
    width: 16px;
    margin: 2px;
    color: rgb(244, 241, 56);
}

.product_detail_name {
    padding: 16px 0;
    font-size: 30px;
}

.product_detail_price {
    padding-bottom: 16px;
    font-size: 18px;
    color: green;
    font-weight: 600;
}

.product_detail_description {
    padding-bottom: 10px;
    white-space: pre-line;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.quantity_row {
    display: flex;
    padding: 5px 0;
    width: 300px;
    height: 40px;
    margin: 10px 0;
}

.quantity {
    display: flex;
    width: 300px;
    height: 40px;
}

.quantity_text {
    font-size: 16px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.btn_Add {
    margin: 20px 0;
}

.Detail_Add_btn {
    width: 180px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: #222;
    color: #fff;
    margin: 5px 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #777;
    transition: transform 0.2s;
}

.Detail_Add_btn:hover {
    transform: scale(1.03);
}

.category_infor {
    padding: 10px 0;
}

/* css feedback */
.review_feedback {
    width: 100%;
    margin-top: 40px;
}

.feedback_row {
    width: 100%;
    text-align: left;
    justify-content: left;
    background-color: rgb(243, 241, 241);
    padding: 10px 10px;
}

.section_cart_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.section_title {
    font-size: 24px;
    font-weight: 600;
    /* text-align: center; */
    padding-top: 20px;
    margin-bottom: 30px;
}

.feedback_detail_header {
    display: flex;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.feedback_user {
    font-size: 18px;
    padding-right: 20px;
}

.feedback_content {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

/* Shopping cart */

.cart_content {
    display: flex;
    width: 100%;
}

.shopping_cart {
    /* padding: 20px;    */
    width: 75%;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #555;
}

.shopping_cart_table {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: inset -2px -2px 4px #333;
    /* border: 2px solid #000; */
}

.shopping_cart_table th {
    background-color: rgb(216, 201, 201);
}

.shopping_cart_table th,
.shopping_cart_table td {
    border: 1px solid #555;
}

.shopping_cart_btns {
    display: flex;
    height: 60px;
    /* background-color: #f8f9fa; */
    justify-content: space-between;
    text-align: center;
    position: relative;
    /* margin: 0 10px; */
    /* margin-right: 10px; */
    box-shadow: 0px 0px 4px #555;
}

.shopping_cart_btn {
    width: 200px;
    height: 30px;
    vertical-align: middle;
    margin: 15px 10px;
    box-shadow: 2px 2px 4px #555;
    transition: transform 0.2s;
}

.shopping_cart_btn:hover {
    transform: scale(1.03);
}

.shopping_cart_btn_icon {
    padding: 0 10px;
}

.cart_total {
    background-color: #f8f9fa;
    height: 260px;
    width: 25%;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px #333;
}

.total {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
}

.form_group {
    display: block;
}

.form-control {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: block;
}

.coupon_btn {
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #fff;
}

.fa-gift {
    padding: 0 10px;
}

/* css cho list cart */
.listcart_table {
    width: 100%;
}

.quantity_box {
    width: 40px;
}

.td_content {
    height: 100px;
    justify-content: center;
    vertical-align: middle;
}

.checkout_list {
    width: 100%;
    padding: 0 20px;
}

/* checkout css */

.checkout_container {
    width: 100%;
    margin: 10px 10px;
    justify-content: center;
    display: flex;
}

.checkout_block {
    width: 80%;
    background-color: #f8f9fa;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
}

.checkout_header {
    width: 100%;
    height: 20px;
    font-size: 26px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
}

.checkout_input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.checkout_row {
    width: 100%;
    display: flex;
    height: 40px;
    margin: 20px 0;
}

.checkout_item {
    width: 25%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.checkout_row_total {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.checkout_total {
    margin: 0 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: rgb(33, 62, 227);
}

.row_btn {
    display: flex;
    justify-content: right;
}

.checkout_btn {
    width: 200px;
    background-color: rgb(58, 16, 225);
    color: #fff;
    font-size: 22px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

/* OrderList css */

.orderList_container {
    margin: 20px 80px;
}

.OrderList_category {
    width: 100%;
    background-color: #ccc;
    height: 60px;
}

.OrderList_type {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.OrderList_item {
    height: 100px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}

.OrderList_item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.order_container {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 3px 7px 2px #ccc;
}

.order_header {
    display: flex;
    margin-bottom: 1px;
    height: 40px;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #000;
}

.order_item {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

.order_content {
    width: 80%;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    align-items: center;
    margin: auto 0;
}

.order_img {
    width: 10%;
    border: 1px solid rgb(163, 159, 159);
}

.order_name_1 {
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.order_category {
    font-size: 16px;
    color: #777;
    line-height: 20px;
}

.order_quantity {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.order_itemprice {
    font-size: 16px;
    line-height: 16px;
    margin: auto 0;
    color: green;
    font-weight: 400;
}

.order_footer {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.order_start {
    font-size: 36px;
    color: rgb(255, 255, 40);
}

.order_price {
    display: flex;
}

.order_price_text {
    font-size: 18px;
    padding: 10px 10px;
    color: #000;
    line-height: 40px;
}

.order_price_number {
    font-size: 24px;
    padding: 10px 0;
    color: green;
    font-weight: 500;
    line-height: 40px;
}

.order_btn {
    min-width: 150px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    padding: 10px 6px;
    margin: 0 4px;
}

.order_total {
    text-align: center;
}

.feedback_row {
    border: 1px solid #222;
    margin: 2px 0;
}

.hiden_btn {
    display: none;
}

/* feedback */

.feedback_container {
    width: 100%;
    padding: 10px;
    box-shadow: 4px 4px 6px #777;
    margin: 20px 0;
}

.feedbackrow {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 1px 0;
    padding: 10px;
}

.inline_list {
    display: flex;
    text-decoration: none;
    padding: 10px;
}

.header_item {
    padding: 4px 4px;
    font-size: 14px;
    border: 1px solid goldenrod;
    margin: 6px 8px;
    vertical-align: middle;
    height: 24px;
    line-height: 16px;
    border-radius: 4px;
}

.text-br {
    text-align: center;
    color: #fff;
    background-color: #008000;
}

.feedback_header {
}

.feedback_product {
}

.feedback_product_img {
    width: 10%;
    margin: 10px 0px 10px 30px;
    border: 1px solid #ccc;
    max-width: 70px;
}

.feedback_product_content {
    width: 80%;
    margin: 10px 10px;
}

.feedback_product_name {
    font-size: 18px;
    color: #000;
    line-height: 20px;
}

.feedback_product_quantity {
    font-size: 16px;
    color: #343a40;
    line-height: 20px;
}

.feedback_product_price {
    font-size: 22px;
    color: #008000;
    padding: 10px 10px;
    font-weight: 400;
    text-align: justify;
}

.feedback_product_footer {
    border: 1px solid #ccc;
    text-align: right;
    padding: 10px;
}

.feedback_product_total {
    font-size: 22px;
    color: blue;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
}

.feedback_btn_row {
    height: 40px;
}

.btn {
    width: 120px;
    padding: 10px;
    font-size: 18px;
    background-color: #008000;
    color: #fff;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #777;
}

/* feedback list */
.feedList_container {
    margin: 10px 80px;
}

.container {
    width: 100%;
    margin: 20px 80px;
}

.feedback_wrapper {
    width: 80%;
    margin: 0 auto;
    box-shadow: 4px 4px 5px #777;
}

.feedback_title {
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.feedback_text {
    font-size: 20px;
}

.list-inline-start-big {
    font-size: 22px;
    color: rgb(246, 246, 9);
    margin: 4px;
}

.feedback_content {
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.btn_right {
    text-align: end;
    padding: 10px 10px;
    border: 1px solid #ccc;
}

.btn_white {
    width: 120px;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #777;
}

.list-star {
    width: 50%;
}

.star_quantity {
    width: 30%;
    display: flex;
    height: 30px;
}

.star {
    width: 40%;
    margin: 0 20px;
    display: flex;
}

.star_text {
    width: 30%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #eda500;
    font-weight: 500;
}

.pagination_line {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.sort_row {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.sort_text {
    font-size: 16px;
    color: #000;
    line-height: 40px;
    text-align: center;
}

.sort_select {
    margin: 0 30px;
    width: 300px;
}

.Banner {
    background-image: url('https://bom.so/fd4VQ7');
    width: 100%;
    height: 300px;
}

.main {
    padding: 10px 100px;
    display: flex;
}
.column-left {
    width: 30%;
    padding-top: 10px;
}

.column-right {
    width: 70%;
    box-sizing: border-box;
    height: max-content;
    padding-left: 20px;
}
