.menu {
    background-color: rgb(197, 179, 13);
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 10px;
}

.menu_header {
    width: 100%;
    height: 60px;
    line-height: 40px;
    font-size: 22px;
    color: green;
    text-align: center;
    font-weight: 600;
}

.infor_menulist {
    text-decoration: none;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.infor_MenuItem {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    height: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(243, 226, 70);
    padding: 5px;
    background-color: rgb(197, 179, 13);
}

.infor_MenuItem:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.infor_MenuItem_active {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    height: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(243, 226, 70);
    padding: 5px;
    background-color: #000;
    color: #fff;
}

.menulist_img {
    width: 100%;
    height: 200px;
}

.infor_container {
    width: 100%;
    display: block;
    margin: 0 10px;
    background-color: rgb(253, 251, 192);
}

.general_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.col-2 {
    width: 50%;
    border: 1 solid #000000;
    padding: 10px 10px;
}

.menu {
    background-color: rgb(197, 179, 13);
}

.infor_main {
    display: flex;
}

.row {
    margin-top: 30px;
    min-height: 20px;
    width: 100%;
    justify-content: space-around;
    padding-left: 40px;
}

/* .section_title {
    padding: 10px;
    margin-bottom: -30px;
} */

.listarticle {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.schedule_header {
    font-size: 26px;
    color: #000;
    padding-top: 16px;
    font-weight: 500;
    /* text-align: center; */
    padding: 10px 40px;
    margin: 2px 2px 10px 2px;
    background-color: rgb(197, 179, 13);
    box-sizing: border-box;
    border-radius: 4px;
}

.Select_row {
    display: flex;
    width: 100%;
}

.select_title {
    text-align: left;
    font-size: 20px;
    color: #000;
    height: 30px;
    line-height: 30px;
    padding: 0 40px;
}

.body {
    width: 100%;
    overflow: hidden;
    /* border: 1px solid goldenrod; */
}

.select_section {
    height: 30px;
}

.schedule_container {
    padding: 0 40px;
}

.Mota {
    font-size: 18px;
    color: #000;
}

.Description {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 30px;
    word-break: keep-all;
    white-space: pre-line;
}
.schedulename{
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
