.manageContainer {
    width: 100%;
    padding: 10px 36px;
    display: flex;
}

.manage_content {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    overflow: hidden;
}

.products_table_container {
    width: 94%;
    margin: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #555;
}

.products_table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: inset -2px -2px 4px #333;
}

.products_table th {
    background-color: rgb(76, 187, 23);
}

.products_table th,
.products_table td {
    border: none;
    border-right: 0.5px solid #555;
}

.Banner {
    background-image: url('https://bom.so/fd4VQ7');
    height: 300px;
    width: 95%;
    margin: 0 40px;
}

.main {
    padding: 10px 100px;
    display: flex;
}
.column-left {
    width: 30%;
    padding-top: 10px;
}

.column-right {
    width: 70%;
    box-sizing: border-box;
    height: max-content;
    padding-left: 20px;
}

.menulist {
    text-decoration: none;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.MenuItem {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    height: 60px;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(243, 226, 70);
    padding: 5px;
    background-color: rgb(197, 179, 13);
}

.MenuItem:hover {
    cursor: pointer;
    opacity: 0.6;
}

.menulist_img {
    width: 100%;
    height: 200px;
}

.MenuProduct {
    width: 25%;
}

.add_new_product {
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    /* border: 1px solid #000; */
    padding: 8px;
    color: #000;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgb(18, 125, 18);
    color: #fff;
    transition: transform 0.2s;
    padding: 10px;
    cursor: pointer;
}

.add_new_product:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.add_new_product_link {
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.products_table_title {
    font-size: 24px;
    color: #000;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.add_icon {
    background-color: rgba(204, 204, 210, 0.891);
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.fa-plus-large {
    width: 50px;
}

.addProduct_container {
    width: 100%;
    padding: 20px 80px;
}

.addProduct_title {
    width: 100%;
    height: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.addProduct_list {
    display: inline-block;
    width: 100%;
    padding: 0 auto;
}

.addProduct_row {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.product_properties {
    width: 20%;
    font-size: 18px;
    height: 40px;
}

.addProduct_btn {
    float: right;
    width: 150px;
    height: 40px;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 10px 120px;
}

.product_input {
    width: 70%;
    border-radius: 12px;
    border: none;
    font-size: 15px;
}

.text_center {
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}

.description {
    line-height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product_input_select {
    margin-left: -30px;
    margin-bottom: -30px;
}

/* Order css */
.order_detail {
    display: flex;
    width: 80%;
    margin: 20px auto;
}

.orderList_container {
    margin: 20px 80px;
}

.OrderList_category {
    width: 100%;
    background-color: #ccc;
    height: 60px;
}

.OrderList_type {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.OrderList_item {
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}

.order_container {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 3px 7px 2px #ccc;
}

.order_header {
    display: flex;
    margin-bottom: 1px;
    height: 40px;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #000;
}

.order_item {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 0.1px solid lightgray;
}

.order_content {
    width: 80%;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    align-items: center;
    margin: auto 0;
}

.order_img {
    width: 10%;
    border: 1px solid rgb(163, 159, 159);
}

.order_name {
    font-size: 18px;
    line-height: 20px;
    color: #6dfc46;
}

.order_category {
    font-size: 16px;
    color: #777;
    line-height: 20px;
}

.order_quantity {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.order_itemprice {
    font-size: 16px;
    line-height: 16px;
    margin: auto 0;
    color: green;
    font-weight: 400;
}

.order_footer {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.order_start {
    font-size: 36px;
    color: rgb(235, 235, 28);
}

.order_price {
    display: flex;
}

.order_price_text {
    font-size: 18px;
    padding: 10px 10px;
    color: #000;
    line-height: 40px;
}

.order_price_number {
    font-size: 24px;
    padding: 10px 0;
    color: green;
    font-weight: 500;
    line-height: 40px;
}

.order_btn {
    min-width: 150px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    padding: 10px 6px;
    box-shadow: 2px 2px 4px #343a40;
    border-radius: 6px;
}

.order_total {
    text-align: center;
}

.hiden_btn {
    display: none;
}

.dashborard_container {
    width: 75%;
    display: flex;
}

.dashboard_collumn_8 {
    width: 90%;
    margin: 0 10px;
}

.dashboard_collumn_2 {
    width: 10%;
}

.grid {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.grid_1 {
    z-index: 2;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.grid_2 {
    width: 28%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid_3 {
    width: 100%;
    display: flex;
    z-index: 2;
    text-align: center;
    justify-content: center;
    border: 1px solid #777;
    margin: 20px 0;
    padding: 20px 0;
}

.pagination_line {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.OrderList_category {
    width: 100%;
    background-color: #fff;
    height: 60px;
    color: #000;
    margin-bottom: 20px;
}

.OrderList_type {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.OrderList_item {
    margin: 2px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    /* border: 1px solid #000; */
    border-radius: 4px;
    background-color: rgb(203, 243, 197);
    box-shadow: 2px 2px 4px #343a40;
    height: 50px;
}

.OrderList_item:hover {
    background-color: green;
    color: yellow;
    cursor: pointer;
}

.OrderList_item_active {
    height: 50px;
    background-color: green;
    color: yellow;
    cursor: pointer;
    margin: 2px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    /* border: 1px solid #000; */
    border-radius: 4px;
    box-shadow: 2px 2px 4px #343a40;
}

.product_static {
    font-size: 18px;
    line-height: 20px;
    padding: 6px 0;
    margin: 10px 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.product_category_item_ad {
    width: 100%;
    height: 50px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 40px;
    color: #000;
    background-color: rgb(108, 207, 105);
    /* border: 2px solid #555; */
    box-shadow: 2px 2px 4px #555;
    text-align: center;
    padding: 6px 0;
    margin: 0 10px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.product_category_item_ad:hover {
    color: yellow;
    background-color: green;
    /* border: 2px solid #000; */
    transform: scale(1.05);
}

.product_category_item_active_ad {
    width: 100%;
    height: 50px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 40px;
    color: yellow;
    background-color: green;
    /* border: 2px solid #000; */
    box-shadow: 2px 2px 4px #555;
    text-align: center;
    padding: 6px 0;
    margin: 0 10px;
    border-radius: 4px;
}

.product_category_ad {
    margin: 20px 0;
}

.homepage_container {
    width: 100%;
    padding: 0 80px;
}

.pdfPage {
    margin: 30px;
    /* width: 600px; */
}
.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
}
.square {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fafafa;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}
.square:hover {
    opacity: 0.8;
}
.rectangle {
    background-color: #333;
    margin: 10px 0;
    padding: 20px;
    width: 175px;
    color: #fafafa;
}
.img-absolute {
    position: absolute;
    left: 50%;
    top: 0;
    width: 56%;
}
.btn-download {
    display: inline-block;
    text-decoration: none;
    background-color: salmon;
    color: #fafafa;
    padding: 10px 62px;
    margin: 10px auto;
}
.btn-download:hover {
    opacity: 0.8;
}

.pagePDF {
    width: 100%;
    text-align: justify;
    /* padding: 20px; */
}

.content {
    width: 68%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pdf_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* .pdf_header_height {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

.pdf_header_left,
.pdf_header_rigth {
    text-align: center;
}

.pdf_head_uppper {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.pdf_header_none {
    font-size: 16px;
    color: #000;
    line-height: 28px;
}

.pdf_name {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #000;
    line-height: 28px;
}

.pdf_name_title {
    font-size: 24px;
}
.pdf_name_content {
    font-size: 18px;
}

.pdf_owner {
    width: 100%;
}

.pdf_owner_title {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
}

.pdf_owner_bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 20px 0;
}

.Report_section {
    margin: 10px 0;
    width: 100%;
}

.Report_section_break {
    margin: 250px 0 10px 0;
    width: 100%;
}

.report_title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.report_table {
    display: flex;
    margin: 0 auto;
}

.table_object {
    text-align: left;
}

.report_table th {
    background-color: #ccc;
}

.report_chart {
    color: #000;
}

/* .table_object_header {
    background-color: #ccc;
} */

#more {
    display: none;
}

.myBtn_btn {
    width: 150px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    background-color: green;
    color: #fff;
    margin: 0 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #444;
}

.addProduct_btn_line {
    width: 100%;
    text-align: right;
    padding-right: 110px;
}

.inputReportFiel {
    width: 60%;
    font-size: 18px;
    color: #000;
    border: none;
}

.inputReportFiel2 {
    width: 70%;
    font-size: 18px;
    color: #000;
    border: none;
}

.inputReportFiel3 {
    width: 90%;
    font-size: 18px;
    color: #000;
    border: none;
}

.ProductCategory {
    width: 100%;
    height: 40px;
}

.button {
}

/* input[type='file'] {
    display: none;
} */

.uploadFile {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

button:disabled {
    background-color: gray;
    cursor: unset;
}

button:disabled:hover {
    opacity: 1;
    transform: scale(1);
}

.green-red {
    color: green;
}

.red-red {
    color: red;
}
