select {
    width: 30%;
    font-size: 12pt;
    margin-bottom: 8px !important;
    margin-top: 2px !important;
    padding: 7px 11px;
    margin-left: 0px;
}

.fa-pen-to-square,
.fa-trash {
    font-size: 25px;
    margin-left: 10px;
}
