.body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
}

.right {
    /* margin-left: 30px; */
    /* margin-right: 100px; */
    /* height: 300px; */
    margin-top: 10px;
    width: 80%;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
    margin-top: 10px;
}

.tabList {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.itemList {
    display: block;
    padding: 16px;
    cursor: pointer;
    margin: 0;
    background-color: white;
    margin-right: 2px;
}

.itemList:hover {
    background-color: #aeaeae;
    color: white;
    cursor: pointer;
}

.tabList.active {
    list-style: none;
    display: block;
    padding: 16px;
    border-top: none;
    cursor: pointer;
    margin: 0;
    background-color: white;
    border-top: 1px solid #bbbbbb;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.th1 {
    background-color: #dddddd;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.bodyContainer {
    background-color: white;
    height: 97vh;
    /* min-width: 1100px;
    max-width: 1100px; */
    min-width: 100%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
}

.bodyContainer2 {
    margin-top: 20px;
    background-color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    width: 100%;
}

.tableContainerr {
    width: 100%;
    table-layout: fixed;
    display: block;
    max-width: 100%;
}

td,
th {
    /* border: 1px solid #000000; */
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f5f3f3;
}

.th1 {
    background-color: rgb(197, 179, 13);
    overflow: hidden;
    position: sticky;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

.tableContent {
    overflow-y: scroll;
    height: 83.5vh;
    margin: 33px 10px;
    position: relative;
}

#iconAdd {
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    background-color: #08a208;
    border-radius: 6px;
    border: none;
    color: white;
}

#iconAdd:hover {
    filter: brightness(110%);
}

#iconDelete {
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    background-color: rgb(213, 2, 2);
    border-radius: 6px;
    border: none;
    color: white;
    height: 35px;
    margin-top: 2px;
}

#iconDelete:hover {
    filter: brightness(120%);
}

#iconEdit {
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    background-color: rgb(3, 3, 222);
    border-radius: 6px;
    border: none;
    color: white;
    height: 35px;
    margin-top: 2px;
}

#iconEdit:hover {
    filter: brightness(120%);
}

#iconAddd {
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    background-color: #08a208;
    border-radius: 6px;
    border: none;
    color: white;
    height: 35px;
    margin-top: 2px;
}

#iconAddd:hover {
    filter: brightness(120%);
}

.left {
    width: 18%;
    height: 97vh;
    background-color: rgb(197, 179, 13);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    min-width: 18%;
    /* max-width: 18px; */
}

.schedule_header {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.title {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: #008000;
    background-color: rgb(197, 179, 13);
}

.navItem {
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    text-align: justify;
    width: 100%;
    cursor: pointer;
}

.navItem:hover {
    background-color: #94860c;
}

.navItemSelected {
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    text-align: justify;
    width: 100%;
    background-color: black;
    cursor: pointer;
}

.tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tbodyClassName {
    width: 100%;
}

.tableContainerDiv {
    width: 100%;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px;
}

.searchBar {
    border-radius: 8px;
    padding: 6px;
    border: 1px solid black;

    width: 300px;
}

.searchBar:focus {
    outline: none;
    border-color: #94860c;
}
