.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.label {
   font-weight: bold;
   font-size: xx-large;
}

.labelTitle {
   font-size: 20px;
}

.titleForm {
   margin-top: 16px;
}

.titleInput {
   border-radius: 2px;
   border: 1px solid black;
   padding: 8px;
   font-size: 20px;
   width: 1000px;
   margin-top: 5px;
}

.mainEditor {
   margin-top: 16px;
}
