.listarticle {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.article_item {
    margin-top: 10px;
    width: 98%;
    height: 50%;
    border: 1px solid rgb(210, 231, 22);
    display: flex;
}
.article_img {
    width: 200px;
    padding-right: 10px;
}

.article_text {
    height: 100px;
    display: block;
    display: -webkit-box;
    height: 16px*1.3*3;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 3;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px;
}

.article_title{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: black;
}

.article_content {
    display: block;
    display: -webkit-box;
    height: 20px*1.3*3;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp:3;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.link_article {
    color: black;
    text-decoration: none;
}