.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.body {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

.chartDraw {
    height: 100vh;
}

.cateBox {
    margin: 0;
    width: 200px;
    border-radius: 12px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.schedule_header {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
