.SelectRadio {
    display: flex;
    height: 40px;
    width: 40%;
    justify-items: center;
    line-height: 40px;
}

.select_optional {
    width: 50%;
}

.select_hiden {
    display: none;
}

.display_flex {
    display: flex;
}

/* .fb_item {
    background-color: aliceblue;
    font-size: 16px;
    color: #000;
    width: 150px;
} */

.fb_img {
    width: 80px;
    justify-content: center;
    text-align: center;
}

.fbs_item {
    box-shadow: 2px 4px 4px #ccc;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    width: 32%;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    min-height: 450px;
}

.link_fb {
    color: #000;
    text-decoration: none;
}

.fb_name {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    left: 0;
    padding-top: 20px;
}

.fb_content {
    display: flex;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    justify-content: center;
    width: 90%;
    height: 100px;
    margin: 20px auto;
    text-align: justify;
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.ad_title {
    justify-content: space-between;
    line-height: 50px;
}

.radioContainer {
    width: 100%;
    /* background-color: #fff; */
    padding: 20px 0;
    border: 1px snow #000;
}

.selectSection {
    width: 100%;
    display: flex;
    background-color: #fff;
    line-height: 40px;
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
    line-height: 20px;
}

.radioContent {
    width: 100%;
    margin: 20px 0;
}

.NumberOfFeedbackSection {
    background-color: #fff;
    margin: 10px 0;
    min-height: 200px;
}

.NumberOfFeedbackSection_header {
    height: 40px;
    padding: 5px 20px;
    color: #000;
    font-size: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    line-height: 20px;
}

.title_section {
    line-height: 30px;
    justify-content: center;
    flex-direction: column;
    color: #000;
    font-weight: 600;
}

.numOfFb_midlle {
    padding: 20px 20px;
    justify-content: space-between;
    height: 120px;
}

.icon_fb {
    width: 80px;
}

.NumFB {
    font-size: 60px;
    line-height: 60px;
}

.NumFBcontent {
    height: 80px;
    justify-content: center;
    padding: 0 10px;
}

.phanhoi {
    font-size: 18px;
    color: #000;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.NumberOfFeedbackSection_btn {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.view_btn {
    width: 160px;
    background-color: green;
    color: #fff;
    font-size: 16px;
    padding: 0px 6px;
    box-shadow: 2px 2px 4px #343a40;
    border-radius: 2px;
}

.view_btn:hover {
    opacity: 0.8;
}

.column_2 {
    width: 50%;
    box-sizing: border-box;
}

.table_fb {
    width: 100%;
}

.fb_chart {
    margin-right: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 2px 4px 4px #ccc;
}

.chart_container {
    padding: 10px;
}

.fb_table {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 2px 4px 4px #ccc;
}

.Table_name {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.fb_Ads {
    width: 100%;
    margin-top: 10px;
}

.list_fbs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.star_icon {
    color: gold;
}

.product_img {
    width: 100px;
    height: 140px;
}

.pr_name {
    font-size: 20px;
    font-weight: 600;
    color: #343a40;
    padding: 10px 0;
    height: 60px;
}

.hov_Scale:hover {
    opacity: 0.7;
    /* transform: scale(1.08); */
}

.popup {
    width: 700px;
    height: 94%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    /* padding: 20px; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    pointer-events: none;
}

.overlayActive {
    display: flex;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    pointer-events: none;
}

.close-btn {
    width: 60px;
    pointer-events: auto; /* bật lại thuộc tính pointer-events khi hover vào phần tử con */
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(110, 243, 110);
    border: none;
    color: red;
    font-size: 30px;
    text-align: right;
}

.popup_product_header {
    width: 100%;
    height: 50px;
    background-color: rgb(110, 243, 110);
    text-align: left;
    font-size: 24px;
    line-height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-style: oblique;
}

.popup_product_content {
    display: flex;
    padding: 20px;
}

.popup_product_img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid green;
}

.popup_product_description {
    padding: 0 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

.popup_product_des {
    height: 82px;
    overflow: hidden;
}

.popup_product_feedback {
    text-align: left;
    padding: 0 20px;
}

.popup_product_feedback_title {
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
}

.popup_product_feedback_radio {
    display: flex;
    font-size: 18px;
    line-height: 30px;
    justify-content: space-between;
}

.viewAllFB {
    pointer-events: auto;
}

.popup_product_feedback_content {
    width: 100%;
    padding: 2px 20px;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    overflow: scroll;
}

.popup_product_fb_item {
    text-align: center;
    vertical-align: middle;
}

.popup_product_fb_item_icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border: 1px solid #666;
    border-radius: 50%;
    margin-top: 4px;
}

.popup_product_fb_item_content {
    font-size: 16px;
    text-align: left;
    border-radius: 4px;
    background-color: #ccc;
    width: 100%;
    margin: 4px 10px;
    padding: 6px 20px;
}

.fb_star {
    font-size: 12px;
    display: flex;
    color: yellow;
}
.star_item {
    margin-right: 4px;
}

.fb_line {
    border-right: 1px solid #ccc;
    width: 1px;
    height: 50px;
    padding-left: 20px;
}

.fb_user_name {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 10px;
}

.paginationfb {
    pointer-events: auto;
}

.viewPopup {
    padding: 6px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    display: flex;
    bottom: 10px;
    margin: 0 auto;
}

/* Demo mode CSS */
.Demo_container {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.Demo_header {
    color: #4515bd;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
}

.Demo_request {
    font-size: 18px;
    line-height: 20px;
}

.demo_title {
    justify-content: center;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.demo_btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}

.compete_btn {
    display: flex;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #343a40;
}

.compete_btn:hover {
    background-color: #000;
    color: #fff;
}

.Demo_respone {
    font-size: 18px;
    line-height: 30px;
}

.demo_title_respone {
    padding: 10px 0;
}

.demo_respone_data {
}

.sentiment_respone {
    line-height: 40px;
    justify-content: space-between;
}
.sentiment_title {
    width: 100px;
    font-weight: 600;
}

.demo_respone_data {
    border: 1px solid #000;
    padding: 10px;
    min-width: 200px;
    border-radius: 4px;
    background-color: #fcfcfc;
}

.demo_star {
    padding: 20px 0;
}

.demo_list_star {
    width: 500px;
    display: flex;
}

.starline_demo {
    display: flex;
    font-size: 14px;
    color: yellow;
    padding: 0 20px;
}

.li_star {
    margin: 2px;
}

.demo_star_quantity {
    display: flex;
    border: none;
}

.rext_respone {
    min-height: 60px;
}

.demo_sentiment_title {
    justify-content: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}
