.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(20, 75, 41, 0.293);
    color: #1021dc;
    opacity: 0.8;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    flex-wrap: unset;
    /* padding: 0 10px; */
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .navbar a {
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
  }
  .navbar .log {
    font-weight: 400;
  }
  .cartNum {
    position: absolute;
    background-color: red;
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    top: -10px;
    right: 0px;
}
.notificationBox {
  position: relative;
}
.button-setting {
  font-size: 150%;
  margin-right: 30px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  color:'black !important';
}