.container-left{
    margin: 0 10px;
    width: 30%;
}
.menu-item{
    font-size: 24px;
    background-color: rgb(63, 133, 203);
    margin: 1px 0;
    padding: 10px 0;
    text-align: center;
}
.menu-item a{
    color: white;
}
.menu-list{
    width: 85%;
}
.logo-admin{
    width: 85%;
}
