.article_img {
    width: 100%;
    text-align: center;
    justify-items: center;
    display: flex;
    margin: 0 auto;
}

.content {
    padding-top: 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #333;
    text-align: justify;
}

h3 strong {
    font-size: 10px;
}
