.iconWeather {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
}

.container-navbar {
    margin: 0 auto;
}
/* ------------------Navbar-top */
.info-header {
    padding: 2px 50px;
    width: 100%;
    display: flex;
    background: #f1f3f4;
    justify-content: space-around;
}
.info {
    display: inline;
}
/* ------------------Navbar-bottom */
.logo {
    width: 150px;
    height: 75px;
}
.navbar {
    margin-left: 50px;
    margin-right: 30px;
    height: 75px;
    display: flex;
}
ul li a {
    text-decoration: none;
    color: #3e4041;
    font-size: 120%;
}
ul li {
    margin-right: 60px;
}
ul li a:hover,
ul li a:active {
    color: green;
    text-decoration: underline;
}
.navbarTask {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.form-search {
    display: flex;
    align-items: center;
}
.search-input {
    width: 200px;
    height: 30px;
}
.btn-search {
    width: 30px;
    height: 30px;
}
.icon-search {
    color: green;
}
.calling-info {
    margin-left: 30px;
    margin-top: 13px;
    background: orange;
    height: 40px;
    padding: 0 10px;
    align-items: center;
    border: solid 1px;
    padding: 2px 15px;
    display: flex;
    user-select: none;
    border: none;
    position: relative;
    bottom: -4px;
}
.calling {
    width: 80px;
    box-sizing: border-box;
}
.phone {
    font-size: 120%;
    margin-top: 5px;
    padding-right: 5px;
    color: white;
}
.info-detail {
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
}
.button-setting {
    font-size: 150%;
    margin-right: 30px;
    border: none;
    background-color: white;
    position: relative;
    cursor: pointer;
}
.setting-group {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.button-setting {
    cursor: pointer;
    position: relative;
}

.setting {
    position: relative;
}

.notificationBox {
    position: relative;
}

.loginLink {
    color: #ceba08;
    text-decoration: none;
    font-size: 16px;
}

.navbarTask_item {
    width: 100%;
}

.temperature {
    position: relative;
    top: -4px;
}

.calling-info {
    border: none;
}

.searchContainer {
    width: 100%;
    height: 100px;
    /* background-color: white; */
    position: absolute;
    z-index: 88;
}

.searchWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemList {
    list-style: none;
}

.articleItem {
    display: flex;
}

.articleImage {
    width: 10px;
    height: 10px;
    object-fit: contain;
}

.articleTitle {
    flex: 1;
}

.itemWrap {
    width: 100%;
    height: 100%;
}

.item {
    background-color: #ffffff;
    width: 100%;
    height: 58px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 300px;
}

.item:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.imageSection {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.contentSection {
    margin-top: 5px;
}
