.container-navbar {
    margin: 0 auto;
}
/* ------------------Navbar-top */
.info-header {
    padding: 2px 50px;
    width: 100%;
    display: flex;
    background: #f1f3f4;
    justify-content: space-around;
}
.info {
    display: inline;
}
/* ------------------Navbar-bottom */
.logo {
    width: 150px;
    height: 75px;
}
.navbar {
    display: flex;
    justify-content: center;
}
ul li a {
    text-decoration: none;
    color: #3e4041;
    font-size: 120%;
}
ul li {
    margin-right: 60px;
}
ul li a:hover,
ul li a:active {
    color: green;
    text-decoration: underline;
}
.navbarTask {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.form-search {
    display: flex;
    align-items: center;
}
.search-input {
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

.search-input:focus {
    border: 1px solid #e7ca2a;
}
.btn-search {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 5px;
    cursor: pointer;
}

.btn-search:hover {
    filter: brightness(70%);
}
.icon-search {
    color: green;
}
.calling-info {
    margin-left: 30px;
    margin-top: 17px;
    background: orange;
    height: 40px;
    padding: 0 10px;
    align-items: center;
    padding: 2px 15px;
    display: flex;
    border: none;
    user-select: none;
}
.calling {
    width: 80px;
    box-sizing: border-box;
}
.phone {
    font-size: 120%;
    margin-top: 5px;
    padding-right: 5px;
    color: white;
}
.info-detail {
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
}
.button-setting {
    font-size: 150%;
    margin-right: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
}
.setting-group {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.cartNum {
    position: absolute;
    background-color: red;
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    top: -10px;
    right: 0px;
}
