.Calendarcontainer {
    margin: 10px 40px;
    background-color: #eef4ff;
    padding: 10px 0 40px 0;
}

.Schedule_label {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    height: 40px;
}

.textContainer {
    margin: 10px 40px;
}

.schedule_row {
    display: flex;
    margin: 10px 0;
}

.Schedule_text {
    font-size: 20px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}

.ScheduleTask_text {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    width: 80px;
}

.ScheduleName {
    width: 85%;
    border-radius: 4px;
}

.combobox {
    height: 90%;
    margin: 0 15px 4px 15px;
    border: none;
    font-size: 20px;
}

.textBox {
    width: 85%;
}

.ScheduleTaskName {
    width: 400px;
    margin-right: 40px;
}

.ScheduleTask {
    background-color: #3f94d6;
    padding-bottom: 20px;
    padding-left: 40px;
    margin: 20px 40px;
    border-radius: 6px;
}

.ScheduleTask_label {
    width: 100%;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    padding-top: 10px;
}

.Schedule {
    padding-left: 80px;
}

.TasktextBox {
    width: 88%;
}

.btnRow {
    width: 100%;
    padding-right: 50px;
    text-align: right;
}

.AddTask {
    width: 100px;
    color: #fff;
    font-size: 40px;
    background-color: green;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    box-shadow: 4px 4px 4px #808181;
}
.AddTask:hover {
    opacity: 0.6;
}

.Review {
    padding: 20px 0;
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.Chart {
    /* margin-right: 10px; */
    width: 100%;
}

.Table {
    width: 50%;
    padding: 0 50px;
}

.taskremove1 {
    background-color: #bbdefb;
    width: 20%;
}

.taskremove {
    background-color: #bbdefb;
    width: 20%;
    background-image: url('../../../assets/image/trash.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.Title {
    background-color: #3f94d6;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

.Title h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 80px;
}

.taskList {
    border: 1px solid #3f94d6;
}

.taskItem {
    display: flex;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    color: #000;
    width: 100%;
    border: 1px solid #3f94d6;
}

.taskname {
    width: 40%;
    background-color: #fff;
    padding-left: 10px;
}

.taskItem_text {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #808181;
    border-left: 1px solid #808181;
    text-align: center;
    padding-bottom: 10px;
}

.add-button {
    width: 20%;
    height: 100%;
    background-color: #bbdefb;
    border: 0;
    font-size: 32px;
    font-weight: bold;
    color: #3f94d6;
    cursor: pointer;
    padding: 0;
}

.TaskContainer {
    margin: 20px 110px;
}

.add-text {
    width: 100%;
    height: 100%;
    /* padding: 0 15px; */
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-size: 16px;
    float: left;
    /* padding-left: -10px; */
}

.taskheader {
    background-color: #a3d1f7;
}

.btnrow {
    margin: 10px 100px;
    display: flex;
    justify-content: right;
}

.saveBtn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    background-color: green;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #808181;
}
