.Banner {
    background-image: url('https://bom.so/fd4VQ7');
    width: 100%;
    height: 300px;
}

.main {
    padding: 10px 100px;
    display: flex;
}
.column-left {
    width: 30%;
    padding-top: 10px;
}

.column-right {
    width: 70%;
    box-sizing: border-box;
    height: max-content;
    padding-left: 20px;
}

.menulist {
    text-decoration: none;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.MenuItem {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    height: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(243, 226, 70);
    padding: 5px;
    background-color: rgb(197, 179, 13);
}

.menulist_img {
    width: 100%;
    height: 200px;
}

.min-width-menu {
    width: 100%;
}
