.detail_wrapper {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: black;
  padding-bottom: 20px;
}

.article_img {
  width: 100%;
  text-align: center;
  justify-items: center;
  display: flex;
  margin: 0 auto;
}

.content {
  padding-top: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #333;
  text-align: justify;
}

.line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: rgb(239, 250, 141);
}
